@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  font-family: 'Mulish', sans-serif;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 400;
  font-family: 'Bebas Neue', cursive;
}

.int {
  font-family: 'Poppins', sans-serif;
}

body {
  background: ghostwhite;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

:root {
  --theme: #322e7ff4;
  --secondary: #EFB51C;
  --secondary: #dba612;
  --pass : #1fb76b;
}

main {
  display: flex;
  flex-direction: column;
}


body::-webkit-scrollbar,
div::-webkit-scrollbar,
section::-webkit-scrollbar {
  background: darkgray;
  cursor: pointer;
  border-radius: 100px;
  width: 10px;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb {
  background: var(--theme);
  border-radius: 100px;
}


small {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--secondary);
}

small sub {
  width: 30px;
  height: 2px;
  display: block;
  background: var(--secondary);
}



#box,
#box .con,
#boxPage {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5vh;
  padding-bottom: 5vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#boxPage{
  padding-top: 15px;
}

#box .con {
  z-index: 10;
}

#box header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  position: relative;
  width: 100%;
}

#box header h3 {
  font-size: 1.5rem;
}

#box header a {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: rgb(95, 95, 95);
}

#box header sub {
  width: 100px;
  height: 2px;
  display: block;
  background: var(--secondary);
}



@media all and (max-width : 1300px) {

  #box,
  #boxPage {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
  }

  #box .con {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}