@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  font-family: 'Mulish', sans-serif;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Raleway', sans-serif;
}

h1{
  font-family: 'Bebas Neue', cursive;  
}
body{
  background: ghostwhite;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

:root{
  --secondary : #EFB51C;
  --secondary : #dba612;
}

main{
  display: flex;
  flex-direction: column;
}


body::-webkit-scrollbar ,div::-webkit-scrollbar,
section::-webkit-scrollbar {
  background: darkgray;
  cursor: pointer;
  border-radius: 100px;
  width: 10px;
}

section::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 100px;
}


small {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--secondary);
}

small sub {
  width: 30px;
  height: 2px;
  display: block;
  background: var(--secondary);
}

#box{

  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  /* padding: 0 10%; */
}

@media all and (max-width : 450px){
  #box{
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
  }
}